[flake8]
select = WPS
ignore =
    WPS110,
    WPS115,
    WPS226,
    WPS237,
    WPS305,
    WPS306,
    WPS318,
    WPS323,
    WPS326,
    WPS428,
    WPS221,
    WPS204,
    WPS210,
    WPS220,
    WPS229,
    WPS432,
    WPS231,
    WPS430,
    WPS202,
    WPS404,
    WPS420,
    WPS463,
    WPS615,
    WPS214,
    WPS301,
    WPS217,
    WPS201,
    WPS230,
    WPS111,
    WPS407,
    WPS602,
    WPS211,
    WPS212,
    WPS238,
    WPS332,
    WPS505,
    WPS232,
    WPS338,
    WPS234,
    WPS617,
    WPS121,
    WPS122,
    WPS504,
    WPS213,
    WPS112,
    WPS476,
    WPS608,
    WPS300,
    WPS324,
    WPS457,
    WPS604,
    WPS410,
    WPS412,
    WPS462,
    WPS612,
    WPS453,
    WPS347,
    WPS473,
    WPS529,
    WPS459,
    WPS100,
    WPS421,



max-line-length = 88
exclude =
    .bzr,
    .direnv,
    .eggs,
    .git,
    .git-rewrite,
    .hg,
    .mypy_cache,
    .nox,
    .pants.d,
    .pytype,
    .ruff_cache,
    .svn,
    .tox,
    .venv,
    __pypackages__,
    _build,
    buck-out,
    build,
    dist,
    node_modules,
    venv,
    .env,
    notebooks,
    __pycache__,
    .egg-info,
    tests/*,
    *test*,
    benchmark*,
    database-comparison/**,
    **/migrations/**,
    app/**/scripts/**,
    app/etl/elasticsearch_loader.py,
    app/etl/postgres_extractor.py,
    app/etl/main.py,
    app/fastapi/auth/jwt_bearer.py,
    app/auth-service/src/services/auth_service.py,
    app/auth-service/src/services/redis_service.py,
    app/auth_service/src/grpc_service/user_pb2_grpc.py,
    *config*,

format = html
htmldir = flake8-report
