[flake8]
select = WPS
ignore =
    WPS110,  # Magic number
    WPS115,  # Upper-case constants in classes
    WPS226,  # Overused string literals
    WPS237,  # Hardcoded string constant
    WPS305,  # f-string instead of `.format()`
    WPS306,  # Use explicit return instead of implicit
    WPS318,  # Too long if/while/with/etc. body
    WPS323,  # Too many expressions in a single line
    WPS326,  # Implicit string concatenation
    WPS428,  # Wrong module metadata (e.g. __author__)

max-line-length = 88
exclude =
    .bzr,
    .direnv,
    .eggs,
    .git,
    .git-rewrite,
    .hg,
    .mypy_cache,
    .nox,
    .pants.d,
    .pytype,
    .ruff_cache,
    .svn,
    .tox,
    .venv,
    __pypackages__,
    _build,
    buck-out,
    build,
    dist,
    node_modules,
    venv,
    .env,
    notebooks,
    __pycache__,
    .egg-info,
    tests/*,
    *test*,
    benchmark*,
       database-comparison/**,
    **/migrations/**,
    app/**/scripts/**,
    app/etl/elasticsearch_loader.py,
    app/etl/postgres_extractor.py,
    app/etl/main.py,
    app/fastapi/auth/jwt_bearer.py,
    app/auth-service/src/services/auth_service.py,
    app/auth-service/src/services/redis_service.py

format = html
htmldir = flake8-report
