[flake8]
select = WPS
max-line-length = 88
exclude =
    .bzr,
    .direnv,
    .eggs,
    .git,
    .git-rewrite,
    .hg,
    .mypy_cache,
    .nox,
    .pants.d,
    .pytype,
    .ruff_cache,
    .svn,
    .tox,
    .venv,
    __pypackages__,
    _build,
    buck-out,
    build,
    dist,
    node_modules,
    venv,
    .env,
    notebooks,
    __pycache__,
    .egg-info,
    tests/*,
    *test*,
    benchmark*,
       database-comparison/**,
    **/migrations/**,
    app/**/scripts/**,
    app/etl/elasticsearch_loader.py,
    app/etl/postgres_extractor.py,
    app/etl/main.py,
    app/fastapi/auth/jwt_bearer.py,
    app/auth-service/src/services/auth_service.py,
    app/auth-service/src/services/redis_service.py

format = html
htmldir = flake8-report
