# Environments
.venv
venv
# .devcontainer
.devcontainer_
_films.py
_movies.py
state
*.egg-info

*.env


__pycache__/

notebooks/*

app/data
app/state

*.log

# Migrations
app/auth-service/migrations/versions/*
app/auth-service/secrets/*
