PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for averyone"

DEBUG=True
SECRET_KEY=<secrcet_key_here>

SQL_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_USER=<user_here>
POSTGRES_PASSWORD=<password_here>
POSTGRES_DB=<db_here>

SQL_HOST=theatre-db
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres

AUTH_SERVICE_URL=http://auth_service_api:8100

LOG_LEVEL=INFO

# Sentry Configuration
SENTRY_DSN=https://{dsn_is_here}.ingest.us.sentry.io/{project_id_here}
SENTRY_ENVIRONMENT=development
SENTRY_ENABLE=true
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_SEND_DEFAULT_PII=false
SENTRY_DEBUG=True

COMPOSE_BAKE=true