async-timeout==5.0.1
certifi==2024.12.14
charset-normalizer==3.4.1
elastic-transport==8.17.0
elasticsearch==8.17.0
idna==3.10
psycopg==3.2.3
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.3.0
