# MongoDB settings
MONGODB_URL=mongodb://localhost:27017
MONGODB_DATABASE=ugc_service

# API settings
API_V1_PREFIX=/api/v1
PROJECT_NAME=UGC Service
VERSION=1.0.0

# Server settings
HOST=0.0.0.0
PORT=8001

# Auth service URL (для интеграции с auth-service)
AUTH_SERVICE_URL=http://auth-service:8100 