Django==5.1.4
psycopg[binary]==3.2.3
python-dotenv==1.0.1
split-settings==1.0.0
uwsgi==2.0.28
django-cors-headers==4.6.0
httpx==0.28.1
PyJWT==2.10.1
redis==5.2.1
tenacity==9.0.0
sentry-sdk[django]
python-json-logger==2.0.7